@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1550px;
}
section {
    @apply w-full;
}
select {
    appearance: none;
    @apply focus:outline-none;
    background-color: #fff;
    background-image: linear-gradient(45deg,transparent 50%,#fff 0),linear-gradient(135deg,#fff 50%,transparent 0);
    background-position: calc(100% - 20px) 50%,calc(100% - 15px) 50%;
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
}
a {
    @apply transition ease-linear;
}
.sub-menu::before {
    @apply content-[''] bg-transparent w-full h-6 absolute -top-6 left-0;
}
.mobile-menu-wrapper .close,
.mobile-menu-wrapper.menu-open .open {
    display: none;
}
.mobile-menu-wrapper.menu-open .close {
    display: block;
}
.mobile-menu {
    transition: all 0.2s ease-in-out;
}
.slide-close {
    @apply -ml-60;
}

.title,
.article-title,
p {
    @apply text-theme-color;
}
.overlay {
    @apply w-full h-full fixed inset-0 z-20 bg-black bg-opacity-30;
}

.details-border .text,
.details-border .text-2 {
    position: relative;
}
.details-border .text::after {
    content: '';
    width: 1px;
    height: 100%;
    @apply bg-gray-900 absolute top-0 -right-[53px] hidden md:block;
}
.details-border .text-2::after {
    content: '';
    width: 1px;
    height: 100%;
    @apply bg-gray-900 absolute top-0 -left-[52px] hidden md:block;
}
.timeline {
    @apply h-[1350px];
}
.timeline .heading-section::after {
    content: '';
    width: 2px;
    height: 220px;
    @apply bg-primary absolute -bottom-96 left-1/2 -translate-x-1/2;
}
.timeline-wrap {
    @apply -translate-y-[536px] md:-translate-y-[503px] lg:-translate-y-[463px] -mb-[350px];
}
.timeline-wrap .year {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.border-grid.first::after {
    content: '';
    width: 50.1%;
    height: 2px;
    @apply bg-primary absolute top-0 -left-[1px];
}
.border-grid.last.content-image::after {
    content: '';
    width: 50.1%;
    height: 2px;
    @apply bg-primary absolute bottom-0 -left-[1px];
}
.border-grid.last.image-content::after {
    content: '';
    width: 50.1%;
    height: 2px;
    @apply bg-primary absolute bottom-0 -right-[1px];
}
.light-stroke {
    @apply text-transparent;
    -webkit-text-stroke: 1px #fff;
}
.dark-stroke {
    @apply text-white;
    -webkit-text-stroke: 1px #464644;
}
/* .reverse .image-wrap {
    order: -1;
} */
#sortbox:checked ~ #sortboxmenu {
    opacity: 1;
}

.search-form {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.search-form:focus-within {
    box-shadow: inset 0px 0px 0px 1px #464644;
}
.search-form:focus-within .search-input {
    opacity: 1;
    cursor: initial;
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (min-width: 1600px) {
    .timeline {
        @apply h-[1800px];
    }
    .timeline-wrap {
        @apply -translate-y-[911px] -mb-[800px];
    }
}

@media (max-width: 480px) {
    .timeline-wrap {
        margin-bottom: -565px;
    }
    .timeline .heading-section::after,
    .border-grid.first::after,
    .border-grid.last.content-image::after,
    .border-grid.last.image-content::after {
        display: none;
    }
    .timeline-wrap .border-grid {
        margin-left: 0;
        margin-right: 0;
        border: none;
        padding: 0;
        padding-left: 20px;
        position: relative;
    }
    .timeline-wrap .border-grid::before {
        content: '';
        width: 1.5px;
        height: 100%;
        @apply bg-primary absolute left-0 top-0;
    }
    .timeline-wrap .item-wrap {
        padding: 0;
        padding-bottom: 90px;
    }
    .timeline-wrap .last .item-wrap {
        padding-bottom: 0;
        margin-bottom: 90px;
    }
    .timeline-wrap .image-wrap .grid {
        gap: 10px;
    }
    .timeline-wrap img {
        border: none;
    }
    .timeline-wrap .year {
        position: static;
        writing-mode: initial;
        text-orientation: initial;
        width: fit-content;
    }
    .timeline-wrap .year::before {
        content: '';
        width: 20px;
        height: 2px;
        @apply bg-primary absolute -left-[21px] top-1/2 -translate-y-1/2;
    }

    .timeline-wrap .content-image .image-wrap {
        @apply ml-0;
    }
    /* .timeline-wrap .image-content .image-wrap {
        @apply order-1;
    } */
    .timeline-wrap .image-content .image-wrap.mb-16 {
        @apply mt-16 mb-0;
    }
    .timeline-wrap .content-wrap {
        @apply text-left pl-0;
    }
}